# VLAN Configuration Template
{% for vlan in vlans %}
vlan {{ vlan.id }}
  name {{ vlan.name }}
  description "{{ vlan.description }}"
  {% for port in vlan.ports %}
  interface {{ port }}
    switchport mode access
    switchport access vlan {{ vlan.id }}
  {% endfor %}
{% endfor %}
