[defaults]
# Define the default connection type to use when connecting to remote hosts.
inventory = inventories/hosts
# SSH private key file to use when connecting to remote hosts.
private_key_file = ~/.ssh/id_rsa
# Connection 
connection = network_cli
# OS
ansible_network_os = ios
# Define the SSH options to use when connecting to remote hosts.
ssh_args = -o hostkeyalgorithms=+ssh-dss -o PubkeyAcceptedKeyTypes=+ssh-dss -o KexAlgorithms=+diffie-hellman-group1-sha1 -o Ciphers=+aes128-cbc -o MACs=+hmac-sha1
# ansible host
ansible_host = localhost
# Ansible User
ansible_user = {{ ansible_user}}
# Ansible Password
ansible_password = {{ ansible_password}}
# Github Repo
git_repo = {{ git_repo }}
# source_dir
source_dir = {{ source_dir }}
# Host Key Checking
host_key_checking = False
# VARS
username= {{ ansible_user }}
password= {{ ansible_password }}
git_repo= {{ git_repo }}
source_dir= {{ source_dir }}
git_user= "mmarzou0@gmail.com"
git_email= {{ git_email }}
git_dir= {{ git_dir }}
cwd= {{ CWD }}
vars_files="var/all.yml"