# This is a Torrc file for the Tor Browser. It is used to configure the Tor Browser.
# The Tor Browser is a web browser that uses the Tor network to protect your privacy.
# The Tor network is a group of volunteer-operated servers that allows people to improve their privacy and security on the Internet.

# Set the SocksPort to 9050 (default)
SocksPort 9050

# Set the ControlPort to 9051 (default)
ControlPort 9051

# Set the HashedControlPassword
# You can generate a new HashedControlPassword using the command `tor --hash-password my_password`
HashedControlPassword 16:F806347B73328F13608BD9D355F74D7D6D87FA233E4CB7D0F852A2273A

