<!DOCTYPE html>
<html>    <%- include('partials/header') %>

    <mgt-msal2-provider client-id="e825454e-2a21-405a-a100-c0e571e1890e"
        login-type="redirect/popup" 
        scopes="user.read,people.read,files.readwrite,sites.readWrite.all" 
        redirect-uri="http://localhost:3000" 
        authority="https://login.microsoftonline.com/711e97a5-5f2d-403c-befe-be4c0f6087f1"> 
</mgt-msal2-provider> 

<mgt-login class="mgt-dark"></mgt-login>   

<mgt-person-card user-id=""></mgt-person-card>
 <mgt-person person-query="helpdesk@findasnake.com" show-name show-email></mgt-person>
<mgt-person person-query="me" view="twoLines"></mgt-person>
<mgt-people-picker></mgt-people-picker>
<div style="margin-bottom: 10px">Click on each line</div>
<div class="example">
    <mgt-person person-query="me" view="threelines"></mgt-person>
</div>

<div class="output">no line clicked</div>

</body>
</html>