

#track{
    background-color: #ff7b7b;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#track {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

#track button{
    background-color: violet;
    color: #fff;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}


#track button:hover{
    background-color: #fff;
    color: violet;
    border: 1px solid violet;
}

#track button:active{
    background-color: violet;
    color: #fff;
    border: 1px solid #fff;
}


#result{
    padding: 10px;

    border-radius: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#result p{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}